.cont-blog{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-title{
    font-size: 32px;
    font-weight: 700;
    /* margin-top: 30px; */
}

.blog-img{
    max-width: 50%;
    min-width: 1500px;
    height: 400px;
    background-image: url("../../assets/jett1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.desc-head{
    font-size: 24px;
    font-weight: 600;
    margin: 48px 0 0 290px;
}

.description{
    max-width: 50%;
    min-width: 1500px;
    margin: 48px 0 0 290px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.5px;
    text-align: justify;
    padding-bottom: 100px;
}